.result {
  & .result-product {
    & .result-product-name {
      font-family: 'defaultBold';
      font-size: 18px;
      font-weight: normal;
      margin: 0px 0px 5px 0px;
    }
    
    & .result-product-code {
      background-color: var(--color-grey-light);
      display: inline-block;
      border-radius: 2px;
      padding: 2px 5px;
      font-size: 12px;
      margin-bottom: 5px;
    }
    
    & .result-product-brand {
      font-size: 14px;
      text-transform: capitalize;
    }
  }
}