.recipe-card {
  padding: var(--padding-card);
  border-radius: var(--radius-card);
  border: 1px solid var(--color-orange);
  box-shadow: var(--shadow-card);
  max-width: 640px;
  margin-bottom: 20px;

  & .recipe-card-title {
    margin: 0 0 20px 0;
    font-size: 120%;
  }
}