.auth {
  & .content {
    display: flex;
    justify-content: center;

    & > div {
      padding: 30px 40px 40px;
      border-radius: 10px;
      width: 100%;
      max-width: 380px;
      border: 1px solid var(--color-yellow);
      box-shadow: var(--shadow-card);
    }
  }
}
@media (width < 640px) {
  .auth {
    & .content {
      & > div {
        max-width: 100%;
      }
    }
  }
}